.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20 px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 100px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-right: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
}

.icon {
    height: 25px;
    margin-inline: 3px;
}